body {
	font-family: "Arial";
	background-image: url("background.jpg");
	background-attachment: fixed;
	text-align: center;
	margin:0;
}

a:link, a:visited {
	font-family: "Arial";
    background-color: rgb(54, 98, 114);
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #0099ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 32, 66);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0099ff;
}

input[type=text],[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: rgb(40, 32, 66);	
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #0099ff;
}

.loginp {
	font-family: "Arial";
	font-size: 32pt;
	color: rgb(40, 32, 66);
}

.login_div {
	width: 25%;
	height: 50%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border-radius: 5px;
    display: inline-block;
	background-color: #f2f2f2;
	padding: 20px;
	margin : auto;
}

.signup_div {
	width: 25%;
	height: 50%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border-radius: 5px;
    display: inline-block;
	background-color: #f2f2f2;
	padding: 20px;
	margin : auto;
}
